@import "../../theme/colors";
@import "../../theme/sizes";

$dots: 5;

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $spacing-10;
  height: $spacing-30;

  &__dot {
    width: $spacing-4;
    height: $spacing-4;
    background-color: $orange;
    border-radius: 50%;
    margin: 0 $spacing-1;
    animation: bounce 1.1s ease infinite;

    @for $i from 1 through $dots {
      &:nth-child(#{$i}) {
        animation-delay: 0.1s * ($i - 1);
      }
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-$spacing-8);
  }
  60% {
    transform: translateY($spacing-3);
  }
}
