@import "../../theme/colors";
@import "../../theme/sizes";

.error-container {
  background-color: $red;
  color: $white;
  width: 50%;
  text-align: center;
  border-radius: $spacing-2;
  margin: auto;
  margin-top: $spacing-10;
  padding: $spacing-2 0;

  @media (max-width: $screen-s) {
    width: 100%;
  }
}
