@import "../../theme/sizes";

main {
  h1 {
    font-weight: 700;
    font-size: $spacing-8;
    margin: $spacing-10 $spacing-4;
  }

  .requirements-section {
    margin: $spacing-4 0 $spacing-4 $spacing-4;
  }
}
