@import "../../theme/colors";
@import "../../theme/sizes";

.project-list {
  margin-top: $spacing-10;
  display: flex;
  gap: $spacing-4;
  align-items: center;
  flex-direction: column;

  &__card {
    padding: $spacing-4;
    border: 1px solid $black;
    border-radius: $spacing-2;
    width: 70%;

    @media (max-width: $screen-s) {
      width: 100%;
    }

    &__commit-list {
      margin: 0;
      padding-top: $spacing-2;

      & > li > a {
        overflow-wrap: break-word;
      }
    }
  }
}
