$spacing-1: 0.25rem; // 4px
$spacing-2: 0.5rem; // 8px
$spacing-3: 0.75rem; // 12px
$spacing-4: 1rem; // 16px
$spacing-5: 1.25rem; // 20px
$spacing-6: 1.5rem; // 24px
$spacing-7: 1.75rem; // 28px
$spacing-8: 2rem; // 32px
$spacing-9: 2.25rem; // 36px
$spacing-10: 2.5rem; // 40px
$spacing-11: 2.75rem; // 44px
$spacing-12: 3rem; // 48px
$spacing-13: 3.25rem; // 52px
$spacing-14: 3.5rem; // 56px
$spacing-15: 3.75rem; // 60px
$spacing-16: 4rem; // 64px
$spacing-18: 4.5rem; // 72px
$spacing-20: 5rem; // 80px
$spacing-23: 5.75rem; // 92px
$spacing-24: 6rem; // 96px
$spacing-26: 6.5rem; // 104px
$spacing-30: 7.5rem; // 124px
$spacing-28: 7rem; // 112px
$spacing-30: 7.5rem; // 120px
$spacing-32: 8rem; // 128px
$spacing-36: 9rem; // 144px
$spacing-40: 10rem; // 160px

// breakpoints
$screen-s: 767px;
$screen-m: 1023px;
$screen-l: 1267px;
