@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/lato-regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/lato-bold.ttf") format("truetype");
  font-display: swap;
}
