@import "../../theme/sizes";
@import "../../theme/colors";

.inputContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $black;
  width: 50%;
  border-radius: $spacing-6;
  height: $spacing-10;
  margin-top: $spacing-10;

  @media (max-width: $screen-s) {
    width: 100%;
  }

  & > input {
    height: 100%;
    border-top-left-radius: $spacing-6;
    border-bottom-left-radius: $spacing-6;
    margin-left: $spacing-4;
    width: 100%;

    &:focus {
      outline: 0;
      border-bottom: $purple;
    }
  }

  & > button {
    background-color: $grey;
    height: 100%;
    border-top-right-radius: $spacing-6;
    border-bottom-right-radius: $spacing-6;
    background-color: transparent;
    padding: 0 $spacing-4;
    background-color: $black;
    color: $white;

    &:hover {
      cursor: pointer;
    }
  }

  &--active {
    border-color: $purple;

    & > button {
      background-color: $purple;
    }
  }

  &--disabled {
    border-color: $grey;

    & > button {
      background-color: $grey;
      color: $black;
    }
  }

  &--error {
    border-color: $red;

    & > button {
      background-color: $red;
    }
  }
}
