@import "../../theme/sizes";
@import "../../theme/colors";

header.mainNav {
  display: flex;
  flex-direction: row;
  gap: $spacing-4;
  justify-content: center;
  padding: $spacing-2;
  background-color: $grey;

  @media (max-width: $screen-s) {
    flex-direction: column;
  }

  & > a {
    display: inline-flex;
    color: $black;

    &.active {
      text-decoration: underline;
    }

    &:hover {
      color: $orange;
      text-decoration: underline;
    }
  }
}
